.card {
    border: 1px solid #CAC4D0;
    border-radius: 0.75rem;
    background: #FEF7FF;
    height: 480px;
    width: 317px
}

.infos {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 1.5rem;
}

.infos img {
    width: 100px;
    padding: 20px;
}

.titulo {
    color: #1D1B20;
    text-align: center;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    align-self: stretch;
}

.preco {
    color: #49454F;
    text-align: center;
    font-family: Roboto;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    align-self: stretch;
}

.botao {
    border-radius: 6.25rem;
    background: #6750A4;
    height: 2.5rem;
    gap: 0.5rem;
    align-self: stretch;
    color: #FFFFFF;

    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    border: none;
    cursor: pointer;
}

.botao:hover {
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
}
